body{
    background-color: #408c72
}
p{
    background-color: #7abef8;
    font-family: "Arial Black";
}

.class1{
    background-color: #ffc400;
    font-size: 12px;
    font-family: "Arial Narrow";
}

#signup{
    background-color: blue;
}